html,
body {
  height: 100%;
}
#map,
#wrapper,
#page-content-wrapper {
  height: 100%;
  width: 100%;
}
.container-fluid,
.row,
.col-lg-12 {
  height: 100%;
  width: 100%;
}



/* hamburger menu pseudo element */

.box-shadow-menu {
    position: relative;
    padding-left: 1.25em;
  }
  .box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: black;
    box-shadow: 0 0.25em 0 0 black, 0 0.5em 0 0 black;
  }
  /* hamburger menu pseudo element gradient */
  
  .gradient-menu {
    padding-left: 1.25em;
    position: relative;
  }
  .gradient-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.21em;
    bottom: 0.21em;
    width: 1em;
    background: linear-gradient(to bottom, black, black 20%, white 20%, white 40%, black 40%, black 60%, white 60%, white 80%, black 80%, black 100%);
  }
  
  .nav-tabs>li {
    float: none;
  }
  .nav-tabs {
    border-bottom: 0;
  }
  .nav-tabs>li.active>a,
  .nav-tabs>li.active>a:focus,
  .nav-tabs>li.active>a:hover {
    margin: 0;
    border-radius: 0;
  }
  #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
  }
  #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
  }
  /* Sidebar Styles */
  
  .sidebar-nav {
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  }


  .sidebar-nav > .sidebar-brand  {
    color: #999999;
  }
  .sidebar-nav > .sidebar-brand:hover {
    color: #fff;
    background: none;
    cursor: pointer;
  }
  @media(min-width:768px) {
    #wrapper {
      padding-left: 250px;
    }
    #wrapper.toggled {
      padding-left: 0;
    }
    #sidebar-wrapper {
      width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
      width: 0;
    }
    #page-content-wrapper {
      padding: 20px;
      position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
    }
  }